.review_page_container {
    display: flex;
    flex-direction: row;
}
.review_man_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px;
    width: 100%;
}
.review_reply {
    flex: 5;
    margin-right: 30px;
}

.review_list {
    width: 620px;
}
.review_list_container {
    margin-top: 10px;
    width: 101%;
    height: 80vh;
    overflow-y: scroll;
}

.active.item {
    background-color: #4346E1 !important;
    color: #FFF !important;
    -webkit-box-shadow: 10px 10px 30px -15px rgba(143,143,143,0.5);
    -moz-box-shadow: 10px 10px 30px -15px rgba(143,143,143,0.5);
    box-shadow: 10px 10px 10px -15px rgba(143,143,143,0.5) !important;
}

.item {
    color: #A7A7A7 !important;
}

.review_list h2 {
    margin-bottom: 14px;
}