.reply_card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 15px 15px 15px 0;
    background-color: #FFF;
    border: 1px solid rgba(143,143,143,0.5);
    padding: 35px;
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px -1px rgba(143,143,143,0.1);
    -moz-box-shadow: 5px 5px 10px -1px rgba(143,143,143,0.1);
    box-shadow: 5px 5px 10px -1px rgba(143,143,143,0.1);

}

.reply_card_review {
    border-bottom: 1px solid rgba(143,143,143,0.5);
    padding-bottom: 20px;
}

.reply_card_title {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.reply_card_subtitle {
    font-size: 14px;
    color: #777;
    margin-left: 10px;
    padding-top: 2px;
}

.reply_card_desc {
    line-height: 1.8;
    font-size: 14px;
    color: #555;
    padding : 5px 0;
}

.reply_card_desc_title {
    font-size: 16px;
    color: #2a2a2a;
}

.reply_card_info {
    margin-top: 8px;
    color: #2a2a2a;
    font-size: 15px;
    margin-bottom: 10px;
}

.filtered_review {
    display:none;
}
.reply_card_info p {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.center_align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reply_card_info .ui.button {
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 14px;
    font-weight: normal;
    background-color: #F0F0F0;
    -webkit-box-shadow: 5px 5px 10px -1px rgba(143,143,143,0.1);
    -moz-box-shadow: 5px 5px 10px -1px rgba(143,143,143,0.1);
    box-shadow: 5px 5px 5px -1px rgba(143,143,143,0.2);
}

.reply_card_info .ui.button:hover {
    background-color: #E7E7E7;
}

.reply_card_editor {
    height: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.right_align {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reply_editor {
    height: 100%;
}

.reply_editor>textarea {
    resize: none;
    width: 100%;
    outline: none;
    background-color: #F7F7F7;
    border-radius: 10px;
    border: none;
    min-height: 100%;
    padding: 20px;
    font-size: 15px;
    line-height: 1.8;
}

.button.blue{
    margin-top: 35px !important;
    background-color: #4346E1 !important;
    color: #FFF !important;
    width: 80px !important;
    font-weight: normal !important;
}

.button.blue:hover {
    background-color: #3336D0 !important;
}

.ui.buttons {
    margin-bottom: 10px;
    width: 40%;
}
.ui.buttons .button {
    background-color: #F7F7F7;
    font-weight: normal;
}

.ui.buttons .button:hover {
    background-color: #E7E7E7;
}

.tag_button_active {
    background-color: #E7E7E7 !important;
    color: #2a2a2a !important;
}

.aggressive_review_card {
    filter: blur(3px);
}