.review_card_container {
    box-sizing: border-box;
    margin: 15px 0;
    padding: 25px;
    width: 800px;
    border-radius: 10px;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 30px -15px rgba(143,143,143,0.5);
    -moz-box-shadow: 10px 10px 30px -15px rgba(143,143,143,0.5);
    box-shadow: 5px 5px 30px -15px rgba(143,143,143,0.5);
    border: 1px solid rgba(143,143,143,0.5);
    transition-duration: 0.3s;
}


.review_card_container:hover {
    -webkit-box-shadow: 15px 15px 30px -15px rgba(143,143,143,0.5);
    -moz-box-shadow: 15px 15px 30px -15px rgba(143,143,143,0.5);
    box-shadow: 15px 15px 30px -15px rgba(143,143,143,0.5);
    background-color: #EEF;
    border: 1px solid #EEF;
    cursor: pointer;
}

.review_card_active {
    background-color: #EEF;
    border: 1px solid #EEF;
}

.review_card_title {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.review_card_subtitle {
    width: 300px;
    font-size: 12px;
    color: #777;
    margin-left: 10px;
    padding-top: 1px;
}

.tag_list {
    display: flex;
    flex-direction: row;
}

.review_card_desc_title {
    font-size: 13px;
    color: #2a2a2a;
}
.review_card_desc {
    font-size: 12px;
    padding : 5px 0;
    color: #A7A7A7;
}

.review_card_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail_card {
    width: 600px !important;
}